<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Crefi Nostalgie</title>
      <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/bulma.css') }}"
      >
      <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/style.css') }}"
      >

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>

    <body class="has-navbar-fixed-top">
      <nav
        class="navbar is-fixed-top is-light"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="navbar-brand">
          <a class="navbar-item">
            <img
              src="{{ url_for('static', filename='jonge helden.png') }}"
              alt="Jonge Helden"
            />
          </a>
        </div>
      </nav>

      {% for pijler in pijlers %}
        <form action="/delta/{{pijler.id}}" method="POST">
          <h1 class="title"> {{pijler.name}}: {{pijler.score}} </h1>
          <input type="number" id="delta" name="delta" class="input" value="0">
          <input type="submit" class="button is-light" value=">">
        </form>
      {% endfor %}
    </body>
</html>
